h1{
   padding-left: 25%;
   font-size: 50px;
}
form{
    background-color: rgb(93, 93, 93);
    align-items: center;
    justify-content: center;
   font-size: large;
    max-width: 400%;
margin-left: 25%;
margin-right: 56%;


}
.display{background-color: rgb(93, 93, 93);
    font-size: large;
}
.display{
    width: 220px;
}
input{
    font-size: 23px;
    border-radius: 0.2em;
    background-color: rgb(183, 178, 178);
    color: white;
    box-shadow: 2px 2px 2px;
    padding: 1%;
    margin: 0.5%;
    width: 50px;
    height: 50px;
}
.equal{
    width: 47%;
}
@media screen and (max-width:1085px){
form {
    background-color: rgb(93, 93, 93);
    font-size: large;
    margin-right: 56%;
    width: 697px;
}
   .display {
    width: 447px;
}
    .equal {
        width: 21%;
    }
    
}



